.list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
}

.list .text {
  margin-bottom: var(--space-2);
  text-align: center;
  width: 100%;
}

.list ul {
  list-style: none;
  color: var(--font-color-primary);
  width: 100%;
}

.list ul li {
  border-bottom: 1px solid var(--neutral-color-1);
  padding-bottom: var(--space-1);
  display: flex;
  justify-content: space-between;
}

.list ul li:not(:last-child) {
  margin-bottom: var(--space-2);
}

.list > span {
  margin-bottom: var(--space-3);
  text-align: center;
  display: block;
  width: 100%;
}
