.dashboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  padding: var(--space-4) var(--space-2);
  max-width: var(--grid);
  text-align: center;
  width: 100%;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .dashboard section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

.header {
  width: 100%;
  margin-bottom: var(--space-4);
}

.header h1 {
  display: block;
  margin-bottom: var(--space-4);
}

.tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding-bottom: var(--space-1);
  border-bottom: 1px solid var(--neutral-color-1);
  width: max-content;
  padding-right: var(--space-4);
}

.tab li:not(
  :last-child
) {
  margin-right: var(--space-2);
}

.tab li {
  cursor: pointer;
}
