/* :host {
    --square-size: 32px;
} */

.faqItem {
    display: flex;
    color: var(--font-color-primary);
    cursor: pointer;
    flex-direction: column;
    font-weight: var(--font-weight-bold);
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.faqItemContainer {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.square {
    align-items: center;
    border: 1px solid var(--font-color-primary);
    border-radius: var(--border-radius-1);
    display: flex;
    justify-content: center;
    min-height: 32px;
    min-width: 32px;
    margin-right: var(--space-2);
}

.button {
    align-items: center;
    background-color: transparent;
    border-radius: 100%;
    border: none;
    color: var(--font-color-primary);
    cursor: pointer;
    display: flex;
    font-size: 0;
    justify-content: center;
    height: 32px;
    margin-left: var(--space-2);
    position: relative;
    transition: var(--transition);
    width: 32px;
  
    &::after {
      content: '-';
      color: var(--font-color-primary);
      font-size: var(--font-size-lg);
    }
}

.answer {
    font-weight: 200;
    padding-left: calc(32px + var(--space-2));
}

.answer strong {
    color: var(--font-color-contrast);
}

.faqItem:not(.showAnswer) .answer {
    display: none;
}

.question {
    flex: 1;
}

.faqItem.showAnswer .button {
    background-color: var(--contrast-color-1);
    
    &::after {
        content: '+';
        color: var(--font-color-dark);
        font-size: var(--font-size-lg);
      }
}