.button {
  transition: var(--transition);
  color: var(--font-color-dark);
  padding: 14px 32px;
  background-color: var(--contrast-color-2);
  border-radius: var(--border-radius-1);
  border: none;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  cursor: pointer;
  min-width: 250px;
  display: block;
}

.button:hover {
  background-color: var(--contrast-color-1);
}

.button:disabled {
  pointer-events: none;
  opacity: 0.3;
}