#general {
  grid-gap: var(--space-1);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.box {
  width: calc(var(--box-size) * 1);
}

.box2 {
  width: calc(var(--box-size) * 2 + var(--space-1));
}

.box3 {
  width: calc(var(--box-size) * 3 + var(--space-1) * 2);
}

.box4 {
  width: calc(var(--box-size) * 4 + var(--space-1) * 3);
}
